*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightgrey;
}

header{
    background-color: white;
}


.contenitore{
    background-color: white;

    margin-left: 25%;
    margin-right:25%;
    
}

.titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
    font-weight: 600;
}

img{
    vertical-align: middle;
}



#section-header{
    height: 100px;
    margin-bottom: 1em;
}
main{
    margin: 35%;
   
}

.bottone{
    border-radius: 5px;
    padding: 0.5em 1em;
    font-weight: 800;
    cursor: pointer;
    border-style: none;
    
}

#task{
    background-color: rgb(0, 119, 255);
    color: white;
   
}


#section{
    background-color: white;
    color: grey;
    border: solid; color: grey;
}

