*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
    font-weight: 600;
}

img{
    vertical-align: middle;
}


section{
    height: 100px;
    margin-bottom: 1em;
}

.bottone{
    border-radius: 5px;
    padding: 0.5em 1em;
    font-weight: 800;
    cursor: pointer;
    border-style: none;
}