*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightgrey;
}

header{
    background-color: white;
}
img{
    margin-left: 1em;
    vertical-align: middle;
}

.titolo{
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
    font-weight: 600;
}

main{
    margin: 0 20%;
    
    }

    .areabutton{
        margin-top: 3em;
        background-color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 3em;
        border-radius: 10px 10px 0 0;
    }
    
    .bottoni{
        border-radius: 5px;
        padding: 0.2em 1em;
        font-weight: 900;
        cursor: pointer;
        border-style: none;
    }
    
    #task{
        background-color: aqua;
        color: white;
        border: solid 2px aqua;
    }
    
    #task-2{
    background-color: white;
    color: grey;
    border: solid 2px grey;
    }


    .arealist{
        margin-top: 0.3em;
        background-color: white;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 3em;
        border-radius: 0 0 10px 10px;
    }
    
    ul{
        list-style-type: none;
    }
    
    span{
        text-align: center;
        vertical-align: middle;
        box-sizing: content;
        display: inline-block;
        width: 12px;
        border: 1px solid;
        border-radius: 50%;
        font-size: 0.5em;
        font-weight: 500;
        border-color: green;
        color: green;
    }

    .cross{
        border-color: red;
        color: red;
    }
    
    .tag{
        display: inline-block;
        border: 2px solid;
        border-radius: 5px;
        font-size: 0.5em;
        padding: 0.1em 0.6em;
        color: white;
    }
    
    #blu{
        background-color: rgb(2, 48, 165);
        border-color: rgb(2, 48, 165);
    }
    
    #viola{
        background-color: violet;
        border-color: violet;
    }
    #green{
        background-color: green;
        border-color: green;
    }
    
    #light-green{
        background-color: lightgreen;
        border-color: lightgreen;
    }
    
    #orange{
        background-color: orange;
        border-color: orange;
    }
    
    #rosa{
        background-color: pink;
        border-color: pink;
    }
    
    #olive{
        background-color: olive;
        border-color: olive;
    }
    